<div class="container" style="margin-top: 0">
  <h4
    *ngIf="(basketService.basketSource$ | async) == null"
    class="align-middle"
  >
    Your basket is empty .
  </h4>

  <ng-container *ngIf="basketService.basketSource$ | async as basket">
    <div class="container">
      <div class="row">
        <app-basket-summary
          (addItem)="incrementItem($event)"
          (removeItem)="removeItem($event)"
        ></app-basket-summary>
      </div>

      <div class="row">
        <div class="col-6 offset-6">
          <app-order-total></app-order-total>
          <div class="d-grid">
            <a href="" routerLink="/checkout" class="btn btn-outline-primary"
              >Proceed to checkout</a
            >
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
