<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
  <div class="row" formGroupName="deliveryForm">
    <div class="col-6 form-group" *ngFor="let method of deliveryMethods">
      <input
        type="radio"
        name=""
        id="{{ method.id }}"
        value="{{ method.id }}"
        class="form-check-input"
        formControlName="deliveryMethod"
        (click)="this.basketService.getShippingPrice(method)"
      />

      <label for="{{ method.id }}" class="form-check-label ms-2 mb-3">
        <strong>{{ method.shortName }} - {{ method.price | currency }}</strong>
        <br />
        <span class=""
          >{{ method.description }} - {{ method.deliveryTime }}</span
        >
      </label>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Go back to address
  </button>
  <button
    class="btn btn-primary"
    cdkStepperNext
    [disabled]="checkoutForm?.get('deliveryForm')?.invalid"
  >
    Go to review <i class="fa fa-angle-right"></i>
  </button>
</div>
