.cart-no{
    position: absolute;
    top:-12px;
    right: -10px;
    background: blue;
    color: white;
    border-radius: 50%;
    text-align: center;
    min-height: 25px;
    min-width: 25px;
}

a {
    color:#343a34;
    text-decoration: none;
    &.active{
        color: orange;
    }

}

.logo{
    cursor: pointer;
}