<header
  class="d-flex flex-row align-items-center justify-content-between p-4 mb-4 border-bottom fixed-top shadow-sm bg-light-subtle"
>
  <img
    src="../../assets/images/logo.png"
    alt="logo"
    style="max-height: 70px"
    class="logo"
  />
  <nav class="d-inline-flex justify-content-center mt-2 text-uppercase fs-4">
    <a
      class="me-3 py-2"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a class="me-3 py-2" routerLink="/shop" routerLinkActive="active">Shop</a>
    <a class="me-3 py-2" routerLink="/test-error" routerLinkActive="active"
      >Errors</a
    >
  </nav>
  <div class="d-flex flex-row align-items-center">
    <a class="position-relative me-5">
      <i class="fa fa-shopping-cart fa-2x text-dark"></i>
      <div class="cart-no">5</div>
    </a>

    <a href="" class="btn btn-outline-secondary me-3">Login</a>
    <a href="" class="btn btn-outline-secondary me-3">Sign up</a>
  </div>
</header>
